nni>=2.9
torch>=1.12.0
torchaudio>=0.12.0
torchvision>=0.13.0
tensorboard<=2.80
torchviz>=0.0.2
black
numpy
pandas
matplotlib
nvidia-tensorrt
onnx
pycuda
apache-tvm
tqdm
onnx
apache-tvm-cu116 -f https://tlcpack.ai/wheels