nni>=2.9,<3.0
torch --extra-index-url https://download.pytorch.org/whl/cu116
torchvision --extra-index-url https://download.pytorch.org/whl/cu116
torchaudio --extra-index-url https://download.pytorch.org/whl/cu116
nvidia-pyindex
nvidia-tensorrt
tensorboard<=2.80
torchviz>=0.0.2
black
numpy
pandas
matplotlib
onnx
apache-tvm
tqdm
pycuda
apache-tvm
coremltools
onnxruntime
onnxruntime-gpu
onnxmltools
opencv-python
basicsr
youtube-dl
ffmpeg
xgboost==1.5.0
ray
deepspeed