nni>=2.9
torch torchvision torchaudio --extra-index-url https://download.pytorch.org/whl/cu116
nvidia-pyindex
nvidia-tensorrt
torch-tensorrt==1.2.0 --find-links https://github.com/pytorch/TensorRT/releases/expanded_assets/v1.2.0
tensorboard<=2.80
torchviz>=0.0.2
black
numpy
pandas
matplotlib
onnx
apache-tvm
tqdm
pycuda
apache-tvm-cu116 -f https://tlcpack.ai/wheels
coremltools
onnxruntime
onnxruntime-gpu
torch-tensorrt -f https://github.com/pytorch/TensorRT/releases/download/v1.2.0/torch_tensorrt-1.2.0-cp310-cp310-linux_x86_64.whl


onnxmltools
opencv-python
basicsr